@using NewsAggregator.Models
@model IEnumerable<NewsShort>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewsAggregator</title>
</head>
<body>
    <div>
        <h3>Это просто новости</h3>
        <table>
            
            @foreach (var news in Model)
            {
                <tr>
                    <td><p>@news.Title</p></td>
                    <td><p><a href="/Home/Detailed/@news.Id">Читать подробнее</a></p></td>
                </tr>
            }
        </table>
    </div>
</body>
</html>