@using NewsAggregator.Models
@model IEnumerable<NewsShort>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewsAggregator</title>
    
</head>
<body>
    <div>
        <table class="content">
            @foreach (var news in Model)
            {
                <tr class="newsItem">
                    <td>
                        <img src="@news.PictureHref" width="200" height="120" alt=@news.Summary>
                        <td >
                            <p class="newsTitle">@news.Title</p>
                            <p class="date">@news.TimeOccurrence</p>
                        </td>
                        <td>
                            <p>@news.Summary</p></td>
                        <td>
                            <p>
                                <a href="/Home/Detailed/@news.Id">Читать подробнее</a>
                            </p>
                        </td>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>